apiVersion: 1
datasources:
  - name: PostgreSQL
    type: postgres
    access: proxy
    url: db:5432
    database: customers
    user: postgres
    secureJsonData:
      password: postgres
    isDefault: true
